<div class="dropdown-container">
 <h4>all boards (3) </h4>
 <ul>
  <li class="active">
   <img src="../../../assets/images/icons/light-mode-board-icon.svg" alt="board icon">
   <h5>Platform Launch</h5>
  </li>
  <li>
   <img src="../../../assets/images/icons/light-mode-board-icon.svg" alt="board icon">
   <h5>Marketing Plan</h5>
  </li>
  <li>
   <img src="../../../assets/images/icons/light-mode-board-icon.svg" alt="board icon">
   <h5>Roadmap</h5>
  </li>

  <li class="create-board">
   <img src="../../../assets/images/icons/light-mode-board-icon.svg" alt="board icon">
   <h5>+ Create New Board</h5>
  </li>
 </ul>

 <div class="mode-toggle">
  <img src="../../../assets/images/icons/light-mode-icon.svg" alt="light mode icon">
  <div class="mode-switch-container">
   <div class="inner-switch"></div>
  </div>
  <img src="../../../assets/images/icons/dark-mode-icon.svg" alt="dark mode icon">
 </div>
</div>